@import '../../assets/styles/variables'
@import '../../assets/styles/mixins'


.card
  height: 300px
  margin-bottom: 1rem
  border-radius: $border-radius
  cursor: pointer

  .card-image
    height: 127px
    padding: 1rem
    display: flex
    align-self: center
    align-items: center

    img
      max-height: 80%

  .card-icon
    position: absolute
    display: flex
    bottom: 0
    width: 100%
    height: 70px
    align-items: center
    justify-content: center
    background-color: rgba($color4, .3)
    transition: .5s ease

  &:hover
    .card-icon
      height: calc(100% - 127px)
      background-color: rgba($color4, .95)

  .card-body
    padding: .5rem

.modal-portfolio
  .modal-images
    align-items: center
    justify-content: center

    img
      width: 100%

  .modal-skills
    padding: 0
    list-style: none

    li
      display: inline-block
      margin: .5rem

      .badge
        padding: .5rem 1.5rem
        border-radius: 10%
