@import '../../assets/styles/variables'
@import '../../assets/styles/mixins'


.about
  .profile-picture
    padding: 8px
    border-radius: 4px
    box-shadow: $aboutImgShadow

    img
      width: 100%

  .profile-desc
    border-bottom: 1px solid $aboutBorderColor

    p
      line-height: 1.6rem
      font-size: .85rem
      font-weight: 300

  .profile-about
    font-weight: 300
    font-size: .85rem
    white-space: nowrap

    .profile-about-title
      display: block
      font-size: 1rem
      font-weight: 400

    .profile-about-label
      display: block

@media only screen and (min-width: 992px)
  .about
    .profile-about
      > div
        &:nth-child(odd)
          .profile-about-title
            display: inline-block
            width: 30%

          .profile-about-label
            display: inline-block
            width: 70%

        &:nth-child(even)
          .profile-about-title
            display: inline-block
            width: 45%

          .profile-about-label
            display: inline-block
            width: 55%
