@import '../../../node_modules/bootstrap/scss/variables'

$fa-font-path: '../../../node_modules/font-awesome-sass/assets/fonts/font-awesome/'

$color1: #011627
$color2: #FFF
$color3: #FDFFFC
$color4: #2EC4B6
$color5: #E71D36


$headerLayoutTransparencyColor: rgba($color1, .5)
