// Bootstrap
$font-family-base: 'Open Sans', sans-serif

@import '../../../node_modules/bootstrap/scss/variables'

// FA
$fa-font-path: '../../../node_modules/font-awesome-sass/assets/fonts/font-awesome/'

// Colors
$color1: #011627
$color2: #FFF
$color3: #FDFFFC
$color4: #2EC4B6
$color5: #E71D36

// Global
$txtColor: $color1
$brandColor1: $color4
$brandColor2: $color5

// Nav
$navBgColor: $color1
$navShadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28)

// Header
$headerLayoutTransparencyColor: rgba($color1, .6)
$headerTxtColor: $color2

// About
$aboutImgShadow: 0 3px 12px .06px rgba(0, 0, 0, .24)
$aboutBorderColor: rgba($color1, .05)

// Footer
$footerBgColor: $color1
$footerTxtColor: $color2
